.storyCard {
  height: 500px;
  width: 320px;
  /* border: 1px solid; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.storyCard h2 {
  font-size: 16px;
  padding: 5px 10px;
}
.storyCard p {
  font-size: 12px;
  padding: 5px 10px;
}
/* StoryCard.module.css */

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  background: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.8) 100%
  ); 
}

.bottomContent {
  position: absolute;
  bottom: 14%; 
  left: 15px; 
  display: flex;
  flex-direction: column;
  color: #fff;
}
.bottomContent h2{
    margin: 0;
    font-size: 20px;
}

.bottomContent p {
 margin: 0;
  font-size: 12px;
}


.editButtonContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%,30%);
  cursor: pointer;  
}

.editButton {
  height: 40px;
  width: 100px;
  border: none;
  background: #fff;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1;
}

.editButton:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

@media screen and (max-width: 768px) {
  .storyCard {
    max-width:280px;
    margin: 5px;
  }
}

